@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "css/reset.css";
@import "css/animation.css";

body {
  font-family: Pretendard, sans-serif;
  color: #101010;
}
#container-wrap {
  padding: 280px 0 78px;
  position: relative;
  background-image: url("img/site-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}

.title-box {
  text-align: center;
  margin-bottom: 135px;
}

.title-box strong {
  display: inline-block;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
}

.title-box strong::after {
  content: "";
  display: block;
  position: absolute;
  right: -53px;
  top: -35px;
  width: 83px;
  height: 83px;
  background-image: url("img/tit-icon.png");
  z-index: -10;
  animation: Spinner 3s infinite linear;
}

.title-box p {
  font-size: 20px;
  line-height: 28px;
}

.project-item {
  display: flex;
  align-items: center;
  margin-bottom: 160px;
}

.project-text {
  margin-left: 125px;
}

.project-text .text1 strong {
  font-size: 36px;
  display: block;
  font-weight: 500;
  margin-bottom: 17px;
}

.project-text .text1 p {
  color: #737373;
  font-size: 16px;
}

.project-text .text2 {
  margin: 60px 0;
  font-size: 18px;
}

.project-text .text2 li {
  margin-bottom: 30px;
  display: flex;
  gap: 1.5rem;
}

.project-text .text2 li p:first-child {
  width: 6rem;
  word-break: keep-all;
}

.project-text .link-btn {
  display: inline-block;
  padding: 17px 28px;
  background-color: #000000;
  border-radius: 30px;
  color: #ffffff;
}

.scroll-top {
  position: fixed;
  right: 100px;
  bottom: 80px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.scroll-top span {
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #101010;
  border-radius: 50%;
}

.scroll-top:hover span {
  background-color: #101010;
}

.scroll-top:hover span i {
  color: #ffffff;
}
